:root{
    --red:#ff2e63;
    --white:#eaeaea;
    --black:#252a34;
    --blue:#08d9d6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#fff;
    overflow-x: hidden;
    font-family:'Raleway', sans-serif;
}
/* boton ir arriba */
.irArriba{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: solid 2px var(--red);
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 100;
}
.irArriba:hover{
    border: solid 2px var(--white);
    background:var(--red);
}
.irArriba span{
    font-size: 30px;
    color: var(--black);
}
.irArriba span:hover{
    color: var(--white);
}
/* Lineas diagonales */
.linea-diagonal-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.linea-diagonal-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width:10vh 100vw 0 0 ;
    border-style: solid;
    border-color:  #fff transparent transparent transparent;
    z-index: 10;
}


/* Menu de navegacion */
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}
.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.btn-menu > .fa-bars{
    display: none;
}
.btn-menu > .fa-bars:hover{
    color:var(--red);
}
.btn-menu > .fa-times:hover{
    color:var(--red);
}
.menu .list-container {
    margin-right: 20px;
}
.menu .list-container .list{
    display: flex;
}
.menu .list-container .list li {
    list-style: none;
}
.menu .list-container .list li a{
    text-decoration: none;
    margin: 0 10px;
    color: var(--black);
    font-size: 16px;
    padding: 8px;
    border-radius: 24px;
    transition: 0.3s;
}
.menu .list-container .list li a.activo{
    background:var(--red);
    color: #fff;
}
.menu .list-container .list li a:hover{
    background:var(--red);
    color: #fff;
}

/* Img-header */
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg);
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}
.img-header .welcome{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color:#fff;
    font-weight:200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background:#fff;
    border: none;
    margin-top: 5px;
}
.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .welcome >button{
    width: 170px;
    height: 44px;
    background: var(--red);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 24px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    transition: 0.5s;
}
.img-header .welcome button:hover{
    background: var(--blue);
}

/* Acerca de */

.acercaDe{
    width: 100%;
    margin-top: 120px;
}
.acercaDe .info-acercaDe{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acercaDe .info-acercaDe h1{
    font-size: 50px;
    font-weight: 400;
    color:var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.acercaDe .info-acercaDe p{
    font-size: 17px;
    color:var(--black);
    text-align: center;
    line-height: 35px;
    margin: 10px 0;
}
.acercaDe .info-acercaDe .galeria-AcercaDe{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.acercaDe .info-acercaDe .galeria-AcercaDe img{
    width: calc(30.33% );
    object-fit: cover;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 300px;
}
.acercaDe .info-acercaDe .btn-acercaDe{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acercaDe .info-acercaDe .btn-acercaDe button{

    width: 120px;
    height: 40px;
    background: var(--red);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 24px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    transition: 0.5s; 
}
.acercaDe .info-acercaDe .btn-acercaDe button:hover{
    background:var(--blue);
}

/* Nuestros Proyectos */
.NuestrosProyectos{
    position: relative;
    width: 100%;
    height: 100%;
    background:url(../img/img-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.NuestrosProyectos .bg-proyectos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6)
}
.NuestrosProyectos .info-proyect{
    position: relative;
    width: 100%;
    height: 100%;
}
.NuestrosProyectos .info-proyect .container-proyectos{
    width: 90%;
    margin: auto;
    padding-top: 100px;

}
.NuestrosProyectos .container-proyectos .titu-proyecto{
    border:solid 2px #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.NuestrosProyectos .container-proyectos .titu-proyecto h2{
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}
.NuestrosProyectos .container-proyectos .titu-proyecto hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.NuestrosProyectos .container-proyectos .galeria-proyecto{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
.NuestrosProyectos .container-proyectos .galeria-proyecto img{
    width: calc(30% - 10px);
    margin:10px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}
/* Testimonios */
.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .testimonios-titulo{
    width: 50%;
    margin: auto;
    text-align: center;

}
.testimonios .testimonios-titulo h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}
.testimonios .testimonios-titulo hr{
    width: 60%;
    margin:auto;
    height: 2px;
    background:var(--black);
    border:none;
}
.testimonios .box-testimonios{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .box-testimonios .card-testimonio{
    width: 45%;
    margin: 20px;
}
.testimonios .box-testimonios .card-testimonio .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonios .box-testimonios .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.testimonios .box-testimonios .card-testimonio .card-text{
    margin-top: 30px;
    width: 100%;
    border:solid 2px var(--red);
    border-radius: 20px;
    padding:20px;
    cursor: pointer;
    transition: 200ms;
}
.testimonios .box-testimonios .card-testimonio .card-text h4{
    font-size: 27px;
    color:var(--red);
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;

}
.testimonios .box-testimonios .card-testimonio .card-text p{
    font-size: 19px;
    color:var(--black);
    text-align: center;
    line-height:35px;
    transition: 200ms;

}
.testimonios .box-testimonios .card-testimonio .card-text:hover{
    border:solid 2px var(--blue);

}
.testimonios .box-testimonios .card-testimonio .card-text:hover h4{
    color: var(--blue);
}

/*Footer*/

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background:url(../img/footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .bg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.footer .info-footer{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .container-footer{
    width: 60%;
    padding-top: 100px;
    margin: auto;
}
.footer .container-footer .footer-titulo{
    width: 45%;
    border: solid 2px #fff;
    margin:auto;
    padding: 15px;
}
.footer .container-footer .footer-titulo h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer .container-footer .footer-titulo hr{
    width: 70%;
    margin: auto;
    border:none;
    height: 2px;
    background:#fff;
}
.footer .container-footer .contend-formulario{
    width: 90%;
    background:#fff;
    border-radius: 20px;
    border: solid 2px var(--red);
    margin:50px auto;
    padding: 30px;
    margin-bottom: 100px;
    
}
.footer .container-footer .contend-formulario #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .container-footer .contend-formulario #formulario label{
    text-align: center;
    font-size: 22px;
    color: var(--black);
    margin:30px 0 10px 0;
    }
.footer .container-footer .contend-formulario #formulario input{
    width: 90%;
    height: 40px;
    margin:auto;
    border: solid 2px var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
}
.footer .container-footer .contend-formulario #formulario textarea{
    width: 90%;
    margin:auto;
    border: solid 2px var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    padding: 20px;
    height: 200px;
}
.footer .container-footer .contend-formulario #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:40px 0;
}
.footer .container-footer .contend-formulario #formulario .send button{
    width: 150px;
    height: 44px;
    background: var(--red);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 24px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    transition: 0.5s;
}
.footer .container-footer .contend-formulario #formulario .send button:hover{
    background: var(--blue);
}
footer .container-footer .contend-formulario #formulario .mensaje-form p{
    font-size: 15px;
    text-align: center;

}
 .footer .container-footer .footer-text{
 
    bottom:0;
    left: 0;
    width: 100%;
    
    
   
    display: flex;
    justify-content: center;
    align-items: center;


} 
.footer .container-footer .footer-text p{
    color:#fff;
    font-size: 12px;
}

/* Media Querys */

/* 900px */
@media only screen and (max-width:890px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top:20px;
        right:30px;
        font-size: 28px;
        cursor: pointer;
    }
    .menu .list-container {
        position: absolute;
        margin-right: 20px;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .list-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .list li{
        width: 90%;
        margin: 10px 0;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .list li a{
        margin: 10px 0;
        font-size: 20px;
    }
    .menu .list-container .list li a.activo{
        background: none;
        border-radius: none;
        color: var(--red);
    }
    .menu .list-container .list li a:hover{
        background: none;
        color: var(--red);
    }
    .acercaDe .info-acercaDe .galeria-AcercaDe img{
      
        margin: 10px 10px 10px 0px
    }
    .testimonios .box-testimonios .card-testimonio .card-img img{
        width: 200px;
        height: 200px;
    }
    .testimonios .box-testimonios .card-testimonio{
        width: 100%;
    }
    .testimonios .box-testimonios .card-testimonio h4{
        font-size: 25px;
    } 
    .testimonios .box-testimonios .card-testimonio p{
        font-size: 17px;
        line-height: 35px;

    } 
    .footer .container-footer{
        width: 100%;
    }
    .footer .info-footer .contend-formulario{
        width: 85%;
        padding: 20px;
    }
    .footer .info-footer .contend-formulario #formulario input{
        width: 100%;
    }
    .footer .info-footer .contend-formulario #formulario textarea {
        width: 100%;
    }
}

/* 773px */
@media only screen and (max-width:773px){
    /* IMG Header */
    .img-header .welcome h1{
        font-size: 40px;
    }
    .img-header .welcome >button{
        width: 130px;
        font-size: 20px;
    }
    /* Acerca de */
    .acercaDe .info-acercaDe .galeria-AcercaDe{
        flex-direction: column;
    }
    .acercaDe .info-acercaDe .galeria-AcercaDe img{
        width: 100%;
       
    }
    .acercaDe .info-acercaDe .galeria-AcercaDe .galeria-proyecto{
        width: 100%;
    }
    /* Proyectos */
    .NuestrosProyectos .container-proyectos .galeria-proyecto img{
        width: 80%;
        margin-bottom: 30px;
    }
    
}

/* 590px */
@media only screen and (max-width:590px){
    /* IMG Header */
    .img-header .welcome h1{
        font-size: 30px;
    }
    .img-header .welcome hr{
       width: 100px;
    }
    .img-header .welcome p{
        font-size: 17px;
     }
    .img-header .welcome >button{
        width: 100px;
        font-size: 17px;
    }
    /* Acerca de */
    .acercaDe .info-acercaDe .galeria-AcercaDe{
        flex-direction: column;
    }
    .acercaDe .info-acercaDe .galeria-AcercaDe img{
        width: 100%;
       
    }
    /* Proyectos */
    .NuestrosProyectos .container-proyectos .galeria-proyecto img{
        width: 80%;
        margin-bottom: 30px;
    }
    .testimonios .testimonios-titulo hr{
        width: 80%;
        
    }
}
@media only screen and (max-width:369px){
    .img-header .welcome h1{
        font-size: 25px;
    }
    .img-header .welcome hr{
       width: 120px;
    }
    .img-header .welcome p{
        font-size: 14px;
     }
    .img-header .welcome >button{
        width: 90px;
        height: 30px;
    }
    .NuestrosProyectos .container-proyectos .titu-proyecto{
        border:solid 2px #fff;
        padding: 10px;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .NuestrosProyectos .container-proyectos .titu-proyecto h2{
        font-size: 25px;
        color: #fff;
        font-weight: 400;
    }
    .testimonios .testimonios-titulo{
        width: 80%;
        margin: auto;
        text-align: center;
    
    }
    .testimonios .testimonios-titulo h2{
        font-size: 35px;
        color: var(--black);
        font-weight: normal;
        margin-bottom: 10px;
    }
    .NuestrosProyectos .container-proyectos .titu-proyecto{
        border:solid 2px #fff;
        padding: 10px;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .NuestrosProyectos .container-proyectos .titu-proyecto h2{
       
        color: #fff;
        font-weight: 400;
    }
}

@media only screen and (max-width:450px){
        .img-header .welcome h1{
            font-size: 25px;
        }
        .img-header .welcome hr{
           width: 120px;
        }
        .img-header .welcome p{
            font-size: 14px;
         }
        .img-header .welcome >button{
            width: 90px;
            height: 30px;
        }
        .NuestrosProyectos .container-proyectos .titu-proyecto{
            border:solid 2px #fff;
            padding: 10px;
            text-align: center;
            width: 90%;
            margin: auto;
        }
        .NuestrosProyectos .container-proyectos .titu-proyecto h2{
            font-size: 25px;
            color: #fff;
            font-weight: 400;
        }
        .testimonios .testimonios-titulo{
            width: 80%;
            margin: auto;
            text-align: center;
        
        }
        .testimonios .testimonios-titulo h2{
            font-size: 35px;
            color: var(--black);
            font-weight: normal;
            margin-bottom: 10px;
        }
        .NuestrosProyectos .container-proyectos .titu-proyecto{
            border:solid 2px #fff;
            padding: 10px;
            text-align: center;
            width: 90%;
            margin: auto;
        }
        .NuestrosProyectos .container-proyectos .titu-proyecto h2{
           
            color: #fff;
            font-weight: 400;
        }
        
    
}













